RewriteEngine On

# If the requested resource does not exist as a file or directory
# Rewrite the request to the index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /admin/dist/index.html [L]
